@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@500&display=swap');

* {
    margin: 0; padding: 0; box-sizing: 0;
}

body {
    font-family: 'Anuphan', sans-serif;
    background: linear-gradient(to right, #9859c2,#41b987);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    text-align: center;
    font-weight: 550;
}

.container {
    padding: 20px;
    margin: 15vh;
}
.inputStyle {
    border-radius: 5px;
    border: none;
    outline: none;
    line-height: 25px;
}

.container > * {
    padding: 15px;
}

.header > * {
    margin-bottom: 25px;
}

.container > section > div {
    padding-top: 5px;
}